#
# Systemd script to manage Jupyter Notebook.
#
# Copyright 2016-2018, Frederico Martins
#   Author: Frederico Martins <http://github.com/fscm>
#
# SPDX-License-Identifier: MIT
#

[Unit]
Description=Jupyter Notebook
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=spark
Group=spark
WorkingDirectory=/srv/notebooks
ExecStart=/usr/local/bin/jupyter notebook
SyslogIdentifier=jupyter
StandardOutput=journal
StandardError=journal
LimitNOFILE=infinity
LimitMEMLOCK=infinity
LimitNPROC=infinity
LimitAS=infinity
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
